In [1]:
print("hello world")

hello world

In [3]:
print("this is the first notebookwith IBM Watson ")

this is the first notebookwith IBM Watson

## Exercice 1

## import the my_data file that contains data about watershed

In [6]:
#for line in my_data
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_94bedae73ace4e7e9ab71b8ecd62ad97 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='gDSDEtZWmpxlEOjsZwhW_5NJTs6Iqzl184Jq07D-g6pl',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_94bedae73ace4e7e9ab71b8ecd62ad97.get_object(Bucket='datasciencetools-donotdelete-pr-y07avq1lotrfrz',Key='my_data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,ws_property_id,location,property_type,city,state,zipcode,apt_house,num_bedrooms,kitchen,shared,sample_nightly_rent_price,occupancy_rate,current_monthly_rent,percentile_10th_price,percentile_90th_price
0,W1,L9531,R6,Chapel Hill,NC,27514,apartment,2,Y,N,148,16.1644,1060,114,153
1,W10,L9533,R6,Chapel Hill,NC,27517,apartment,2,Y,N,133,34.7945,1200,111,149
2,W100,L1944,R2,San Francisco,CA,94129,apartment,1,Y,N,372,39.7260,3300,108,610
3,W101,L15257,R2,Austin,TX,78702,apartment,1,Y,N,302,36.4384,1400,178,533
4,W102,L15257,R6,Austin,TX,78702,apartment,2,Y,N,429,41.0959,2000,221,617